.header {
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 15%;
  position: relative;

  h1 {
    text-align: center;
    font-size: 2rem;
    position: relative;
    z-index: 300;
  }
}

.header__logo {
  height: 100%;
}
#siteWrapper header {
  height:80px;
  width: 100%;
  background:#00000B;
  position: absolute;
  z-index: 100000;
  top:0;
  left:0;
  border-bottom: 1px solid white;
}
#siteWrapper header.fixed {
  position:fixed;
  width:100%;
  top:0;
  left:0;
  z-index: 100000;
}
#siteWrapper header.fixed+#content {
  margin-top:80px;
  z-index: 100000;
}
