.home {
  background-color: #F8EAD6;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  div {
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: black;
    width: 100%;
  }
  .home__title {
    font-size: 3rem;
    font-family: 'ultra';
    text-align: center;
  }
  .home__logo {
    width: 300px;
  }
  .home__arrow {
    color: black;

    i {
      font-size: 4rem;
    }
  }
}
