@font-face {
  font-family: 'utra';
  src: url('./../../src/fonts/Ultra.ttf');
}

@font-face {
  font-family: 'comfortaa';
  src: url('./../../src/fonts/Comfortaa-Light.ttf');
}
@font-face {
  font-family: 'PassionOne';
  src: url('./../../src/fonts/PassionOne-Regular.otf');
}
@font-face {
  font-family: 'PassionOneBold';
  src: url('./../../src/fonts/PassionOne-Bold.otf');
}
@font-face {
  font-family: 'Antonio';
  src: url('./../../src/fonts/Antonio-Regular.ttf');
}


