@font-face {
  font-family: 'space';
  src: url('./../../src/fonts/space_age.ttf');
}

@font-face {
  font-family: 'content';
  src: url('./../../src/fonts/Fh_Space.otf');
}

@font-face {
  font-family: 'comfortaa';
  src: url('./../../src/fonts/Comfortaa-Light.ttf');
}
